/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    macros {
        macro0: macro0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp N8 &kp N4 &kp N0 &kp N5 &kp N9 &kp N1>;
            label = "MACRO0";
        };

        macro1: macro1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(W) &kp N5 &kp D &kp L &kp N1 &kp LS(U) &kp LS(V) &kp O>;
            label = "MACRO1";
        };

        member_op: member_op {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "MEMBER_OP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC                          &kp Q  &kp W  &kp E                   &kp R  &kp T          &kp Y        &kp U  &kp I                   &kp O    &kp P     &kp BSPC
&kp TAB                          &kp A  &kp S  &kp D                   &kp F  &kp G          &kp H        &kp J  &kp K                   &kp L    &kp SEMI  &kp SQT
&mt LEFT_SHIFT LEFT_PARENTHESIS  &kp Z  &kp X  &kp C                   &kp V  &kp B          &kp N        &kp M  &kp COMMA               &kp DOT  &kp FSLH  &mt RIGHT_SHIFT RIGHT_PARENTHESIS
                                               &mt LCTRL LEFT_BRACKET  &mo 1  &lt 3 ENTER    &lt 3 SPACE  &mo 2  &mt RALT RIGHT_BRACKET
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5             &trans          &kp N7        &kp N8        &kp N9        &trans      &kp BSPC
&trans    &kp F6   &kp F7   &kp F8  &kp F9  &kp F10            &trans          &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0      &trans
&kp CAPS  &kp F11  &kp F12  &trans  &trans  &kp PRINTSCREEN    &trans          &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &caps_word
                            &none   &none   &none              &kp UNDERSCORE  &mo 3         &trans
            >;
        };

        raise_layer {
            display-name = "FN";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LC(RA(DELETE))  &none              &none       &none             &none            &kp C_POWER     &none           &kp PAGE_DOWN  &kp PAGE_UP   &none      &kp PRINTSCREEN  &kp DELETE
&trans              &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &none           &kp LEFT_ARROW  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &none            &kp INSERT
&kp CAPSLOCK        &rgb_ug RGB_TOG    &none       &macro0           &macro1          &kp C_SLEEP     &none           &kp HOME       &kp END       &none      &none            &trans
                                                   &sk LEFT_GUI      &mo 3            &kp LEFT_GUI    &none           &none          &none
            >;
        };

        layer_3 {
            display-name = "SYMBOL";
            bindings = <
&kp GRAVE    &kp EXCLAMATION  &kp AT_SIGN           &kp HASH          &kp DOLLAR      &kp PERCENT      &kp LCTRL         &kp AMPERSAND         &kp ASTERISK       &kp MINUS              &kp EQUAL      &kp NON_US_BACKSLASH
&kp TILDE    &none            &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LESS_THAN    &kp GREATER_THAN  &kp RIGHT_BRACE       &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &none
&bootloader  &kp MINUS        &kp PLUS              &kp ASTERISK      &kp SLASH       &kp EQUAL        &member_op        &kp NON_US_BACKSLASH  &kp PIPE           &kp AMPERSAND          &none          &bootloader
                                                    &trans            &trans          &trans           &trans            &trans                &trans
            >;
        };
    };
};
